.float-right {
    display: flex;
    position: absolute;
    left: .5rem !important;
}
.float-left {
    display: flex;
    position: absolute;
    left: 1rem !important;
}
.logo {
    display: none !important;
}

.dark {
    color: #fff;
}

.light {
    color: black;
}
.dark-mode {
    background-color: #DBD8E3!important;
    color: #1890ff !important;
    /* border-bottom: #1890ff 2px solid !important; */
}

@media screen and (min-width: 1200px){
    .float-right {
        left: 95rem !important;
    }
    .float-left {
        left: -13rem !important;
    }
    .logo {
        position: absolute;
        left: -26rem;
        font-size: 30px !important;
        color: #1890ff;

    }
}
@media screen and (min-width: 2000px){
    .float-right {
        left: 140rem !important;
    }
    .float-left {
        left: -13rem !important;
    }
    .logo {
        position: absolute;
        left: -26rem;
        font-size: 30px !important;
        color: #1890ff;

    }
}
