.subhead {
    color: #c7c6c1;
}

.heading {
    font-size: 33px;
}

.email-form {
    margin-top: 2rem;
}

.img1-box {
    position: absolute;
    left: 3rem;
    top: 26rem;
 }
 .img2-box {
     position: absolute;
     right: 1rem;
     top: 21rem;
}

.img1 {
    max-height: 200px;
    max-width: 200px;
}
.img2 {
    max-height: 150px;
    max-width: 150px;
}

@media screen and (min-width: 1200px) {
    .img1-box {
    position: absolute;
    left: 7rem;
    top: 19rem;
    }
    .img2-box {
     position: absolute;
     right: 15rem;
     top: 25rem;
    }
    
    .img1 {
        max-height: 700px;
        max-width: 700px;
    }
    
    .img2 {
        max-height: 700px;
       max-width: 500px;
    }
    
}